# what is a database ? differentiate between sql and nosql databases.

In [ ]:
A database is an organized collection of structured information, or data, typically stored electronically in a computer system

In [ ]:
sql
1. relational datbase management system.
2.vertically scalable.
3.fixed or predefined schema.
4.not suitable for hierarchical data storage.
5.can be used for complex queries.

In [ ]:
nosql

1.distributed database management system.
2.horizontally scalable.
3.dynamic schema.
4.best suitable for hierarchical data storage.
5.not good for complex queries.

#what is ddl ? explain why create,drop,alter,and truncate are used with an example.

In [ ]:
A data definition language (DDL) is a computer language used to create and modify the structure of database objects in a database.
These database objects include views, schemas, tables, indexes, etc.

In [ ]:
1.create - The CREATE TABLE command creates a new table in the database.
 ex- REATE TABLE Persons (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);
2.drop - The DROP TABLE command deletes a table in the database.
  ex - DROP TABLE Shipper;
3.alter - The ALTER TABLE command adds, deletes, or modifies columns in a table.
  ex - LTER TABLE Customers
ADD Email varchar(255);

4. truncate - The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
 ex - TRUNCATE TABLE Categories;

In [ ]:
# what is dml? explain insert,update,and delete.

In [ ]:
A data manipulation language (DML) is a family of computer languages including commands permitting users to manipulate data in a database.
This manipulation involves inserting data into database tables, retrieving existing data, deleting data from existing tables and modifying existing data. DML is mostly incorporated in SQL databases.

In [ ]:
The INSERT statement introduces new rows into an existing table.
The DELETE statement removes a row or combination of rows from a table.
The UPDATE statement enables users to update a row or group of rows in a table.

In [ ]:
# what is dql? explain select with an example.

In [ ]:
DQL commands are basically SELECT statements.
SELECT statements let you query the database to find information in one or more tables, and return the query as a result set.

In [ ]:
A SELECT statement retrieves zero or more rows from one or more database tables or database views.
 ex - SELECT *
    FROM  Book
    WHERE price > 100.00
    ORDER BY title;

In [ ]:
# write a python code to connect mysql to python.explain the cursor() and execute()method.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
#mycursor.execute("select * from test2.test_table")
mycursor.execute("select c1 , c5 from test2.test_table")
for i in mycursor.fetchall() :
 print(i)
 mydb.close()

In [ ]:
cursor() method 
Whenever DML statements are executed, a temporary work area is created in the system memory and it is called a cursor.
A cursor can have more than one row, but processing wise only 1 row is taken into account.
Cursors are very helpful in all kinds of databases like Oracle, SQL Server, MySQL, etc.

In [ ]:
execute method
This method executes the given database operation (query or command).
The parameters found in the tuple or dictionary params are bound to the variables in the operation.
Specify variables using %s or %( name )s parameter style .

In [ ]:
#explain primary key and foreign key.

In [ ]:
A primary key is the column or columns that contain values that uniquely identify each row in a table.
A database table must have a primary key for Optim to insert, update, restore, or delete data from a database table.
Optim uses primary keys that are defined to the database

In [ ]:
foreign key
A foreign key is a column or columns of data in one table that refers to the unique data values -- often the primary key data -- in another table.
Foreign keys link together two or more tables in a relational database.

In [ ]:
# give the order of execution of sql clauses in an sql query.

In [ ]:
FROM clause.
ON clause.
OUTER clause.
WHERE clause.
GROUP BY clause.
HAVING clause.
SELECT clause.
DISTINCT clause.